@font-face {
  font-family: 'aileronblack';
  font-path: 'assets/aileron-black-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronblack_italic';
  font-path: 'assets/aileron-blackitalic-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronbold';
  font-path: 'assets/aileron-bold-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronbold_italic';
  font-path: 'assets/aileron-bolditalic-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronheavy';
  font-path: 'assets/aileron-heavy-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronheavy_italic';
  font-path: 'assets/aileron-heavyitalic-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronitalic';
  font-path: 'assets/aileron-italic-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronlight';
  font-path: 'assets/aileron-light-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronlight_italic';
  font-path: 'assets/aileron-lightitalic-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronregular';
  font-path: 'assets/aileron-regular-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileronsemibold';
  font-path: 'assets/aileron-semibold-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich_sansmedium';
  font-path: 'assets/ostrich-regular-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich_sansblack';
  font-path: 'assets/ostrichsans-black-webfont';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich_sansheavy';
  font-path: 'assets/ostrichsans-heavy-webfont';
  font-weight: normal;
  font-style: normal;
}

$font-family: 'aileronregular','Open Sans', sans-serif;
$font-family-headers: 'ostrich_sansheavy', 'Oswald';
$font-family-other: 'Spinnaker', sans-serif;

$h1-font-size: 4rem;
$h1-font-weight: 800;

$h2-font-size: 2.2em;
$h2-font-weight: 800;
$h2-line-height: 1.3;

$h3-font-size: 1.5rem;
$h3-font-weight: 800;
$h3-text-transform: uppercase;

$h4-font-size: 0.8rem;
$h4-font-weight: 300;
$h4-letter-spacing: 1px;

$h5-font-weight: 'aileronbold';
$h5-letter-spacing: 1px;
$h5-font-size: 1.2rem;

$paragraph-font-size: 1.2rem;
$paragraph-font-weight: 300;
$paragraph-line-height: 1.4;

$news-paragraph: 'aileronlight';

$toggle-link-font-size: 1.3rem;
$sidebar-link-font-size: 1.1em;
$sidebar-line-height: 2;

$link-color: #45b2a3;
$primary-color: #bc492e;
$secondary-color: #e1cb10;

@mixin main_header {
  text-align: left;
  font-size: 9rem;
  line-height: 8rem;
  position: absolute;
  left: -100px;
  top: -150px;
}

@mixin subhead_small {
  font-family: $font-family-other;
  font-size: 0.9rem;
  text-transform: none;
  letter-spacing: 1.5px;
}

@mixin subhead_large {
  font-family: 'ostrich_sansheavy';
  font-size: 4rem;
  padding: 0;
  text-align: left;
  line-height: 0.9;
}

@mixin green-button {
  margin: 3rem 0;
  padding: 1rem 1.5rem;
  background-color: $link-color;
  border: 2px solid $link-color;
  font-family: $font-family-other;
}

@mixin green-button-hover {
  background-color: transparent;
  border: 2px solid $link-color;
  color: $link-color;
}

@mixin hero_header {
  color: $secondary-color;
  line-height: 0.9;
}

* {
  font-family: $font-family;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-size: $toggle-link-font-size;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  font-size: $h1-font-size;
  font-family: $font-family-headers;
  text-transform: $h3-text-transform;
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
  text-transform: $h3-text-transform;
}

h3 {
  font-size: $h3-font-size;
  line-height: 1;
  text-transform: $h3-text-transform;
}

h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  text-transform: $h3-text-transform;
  letter-spacing: $h4-letter-spacing;
}

h5 {
  font-size: $h5-font-size;
  font-family: $h5-font-weight;
  letter-spacing: $h5-letter-spacing;
}

p {
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
}

.sidebar {
  .main_nav {
    a {
      font-size: $sidebar-link-font-size;
      letter-spacing: $h4-letter-spacing;
      line-height: $sidebar-line-height;
    }
  }
}
