button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: $link-color;
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;

  a {
    font-family: $font-family-other;
    color: white;
  }
}
