button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;

  a {
    font-family: $font-family-other;
    color: white;
  }
}
