.hero.festival {
  padding: 0;
  background-color: transparent;
  height: auto;

  .hero_img {
    position: relative;

    img {
      width: 100%;
    }

    h1 {
      color: $secondary-color;
      font-size: 5rem;
      line-height: 0.9;
      position: absolute;
      left: 25px;
      bottom: 40px;
    }
  }
}

.tmobile {
  margin: 0 auto;
  text-align: center;

  .tmobile_content {
    padding: 2rem 1rem;

    &_details {
      h1 {
        text-transform: uppercase;
        padding: 1rem 0 0.5rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .tmobile_button {
      button {
        @include green-button;
      }
    }
  }

  .tmobile_map {
    margin-bottom: 3rem;

    img {
      width: 100%;
    }
  }

  .tmobile_parking {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    height: 300px;
    background-color: $secondary-color;

    .tmobile_parking_img {
      width: 150px;
      height: 150px;
      border: 5px solid $link-color;
      padding: 1.2rem 2rem;
      border-radius: 75px;

      img {
        width: 75%;
      }

      .tmobile_parking_img_text {
        p {
          font-family: $font-family-other;
          font-size: 0.8rem;
          line-height: 1.1;
          text-transform: uppercase;
          margin-top: 0.5rem;
        }
      }

      button {
        display: none;
      }
    }

    .tmobile_parking_content {
      width: 50vw;
      max-width: 250px;
      align-self: center;

      h3 {
        padding-top: 0.5rem;
        // color: $secondary-color;
        line-height: 1.2;
        margin-bottom: 0.5rem;
      }

      button {
        @include green-button;

        margin-top: 0;
        margin-bottom: 0;

        a {
          font-size: 1rem;
        }
      }

      .parking_content_desktop {
        display: none;
      }
    }
  }
}

.mgm_accomodations {
  text-align: center;
  position: relative;

  .mgm-img {
    overflow-x: hidden;

    img {
      width: 120%;
    }
  }

  .mgm_content {
    background: #f4f6f7;
    position: absolute;
    margin: 0 auto;
    width: 70%;
    bottom: -125px;
    left: 0;
    right: 0;
    padding: 2rem 0;

    h3 {
      font-family: $font-family-headers;
      font-size: $h2-font-size;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    h4 {
      font-family: $font-family-other;
      font-size: $h4-font-size;
    }

    button {
      font-size: 0.8rem;

      @include green-button;

      margin: 0.5rem 0 0;

      a {
        font-size: 1rem;
      }
    }
  }
}

.footer_festival {
  margin-top: 200px;
}
