.header_mobile {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  // background: rgba(255, 255, 255, 0.75);

  .logo {
    img {
      width: 85px;
    }
  }

  .header_mobile_toggle-img {
    width: 50px;
    padding-top: 0.5rem;
  }

  .utility_nav {
    display: flex;
    align-items: center;

    .cart {
      width: 35px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}
