.hero {
  position: relative;
  text-align: center;
  padding: 0;

  .hero_video_content {
    padding-left: 1.5rem;

    .hero_video {
      &_header {
        h3 {
          font-family: 'ostrich_sansmedium';
          letter-spacing: 1px;
          color: white;
          text-align: left;
        }

        h1 {
          @include hero_header;

          text-align: left;
        }
      }
    }

    .hero_button {
      display: flex;
      align-self: flex-end;
      margin-bottom: 7px;
    }
  }

  .hero_play {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  button {
    background: none;
    border: 3px solid #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  button:hover {
    background-color: white;
    border: 3px solid #fff;
    color: $link-color;
  }
}

.hero.home {
  background-image: url('images/video.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 500px;
  padding-bottom: 2rem;
}
