.hero {
  background-image: url('images/video.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 0 1rem;
  max-height: 600px;

  .hero_video {
    &_header {
      h3 {
        font-family: 'ostrich_sansmedium';
        letter-spacing: 1px;
      }

      h1 {
        @include hero_header;
      }
    }

    .hero_button {
      align-self: flex-end;
      margin-bottom: 7px;
    }
  }

  .hero_play {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  button {
    background: none;
    border: 3px solid #fff;
    padding: 1rem 2rem;

    a {
      color: #fff;
      font-size: 1rem;
    }
  }
}
