@media screen and (max-width: 399px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .hero {
    .header_mobile {
      padding: 1rem 0;
    }

    .hero_video {
      flex-direction: column;
      bottom: -60px;

      &_header {
        h3 {
          font-size: 1.2rem;
        }

        h1 {
          font-size: 3rem;
        }
      }
    }
  }

  .intro {
    margin-bottom: 1rem;
  }

  .dates {
    .dates_content {
      padding-top: 6rem;

      h1 {
        font-size: 5rem;
        line-height: 1;
        top: -110px;
      }

      .dates_content_details {
        flex-direction: column;
        text-align: left;
        padding-bottom: 2.5rem;

        .dates_night,
        .dates_artists {
          width: 100%;
        }

        .dates_artists {
          padding-left: 0;
          padding-top: 1rem;

          h5 {
            font-size: 0.9rem;
          }
        }
      }

      button {
        top: -90px;
      }
    }
  }

  .news {
    &_content {
      .news_article {
        flex-direction: column;

        .news_article_img {
          img {
            width: 100%;
          }
        }

        .news_article_content {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .dates {
    .dates_img {
      img {
        width: 100%;
      }
    }

    .dates_content {
      max-width: 700px;
      padding: 10rem 1rem 3rem;

      h1 {
        left: 50px;
        top: -150px;
      }
    }

    button {
      right: 50px;
    }
  }

  .news {
    .news_content {
      &_header.getthe {
        h2 {
          font-size: 1.2rem;
        }
      }

      &_header.scoop {
        h2 {
          font-size: 5rem;
        }
      }

      .news_article {
        &_img {
          img {
            width: 200px;
          }
        }

        &_content {
          h5 {
            font-size: $h5-font-size;
          }

          p {
            font-size: $paragraph-font-size;
          }
        }
      }
    }
  }

  .hero.festival {
    .hero_img {
      h1 {
        font-size: 7rem;
        left: 40px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 4rem;

    .hero_video {
      bottom: -80px;

      &_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .dates {
    &_content {
      &_details {
        .dates_night {
          h4 {
            font-size: 1rem;
            letter-spacing: 1.1px;
          }

          h3 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .news_content,
  .sponsors,
  .tmobile_content_details {
    max-width: 900px;
    margin: 0 auto;
  }

  .intro {
    margin: 2.5rem 2rem;
    position: relative;

    .intro_content {
      width: 700px;
      margin: 0 auto;
      height: 340px;

      &_header {
        &.iheart {
          h2 {
            font-size: 1.2rem;
            letter-spacing: 1.5px;
          }
        }

        &.music {
          h2 {
            font-size: 7rem;
            letter-spacing: 2px;
            left: 18px;
            top: -5px;
          }
        }

        &.festival {
          h2 {
            font-size: 2rem;
            letter-spacing: 17px;
            top: 70px;
            left: 230px;
          }
        }

        &_underline {
          top: 115px;
          width: 650px;
        }

        &.blurb {
          top: 135px;
        }
      }
    }
  }

  .tmobile {
    &_content {
      &_details {
        p {
          line-height: 1.5;
        }
      }
    }

    .tmobile_parking {
      justify-content: space-around;
      padding: 3rem 9rem;

      .tmobile_parking_img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
      }
    }
  }

  .dates {
    .dates_content {
      max-width: 900px;
      padding: 10rem 1rem 3rem;

      h1 {
        left: 50px;
        top: -150px;
      }
    }
  }

  .news {
    .news_content {
      max-width: 900px;

      .news_article {
        padding: 0;
        margin: 5rem 3rem;

        &_img {
          img {
            width: 300px;
          }
        }

        &_content {
          h5 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .hero {
    height: 400px;
  }

  .hero.festival {
    .hero_img {
      h1 {
        font-size: 9rem;
        left: 85px;
        bottom: 60px;
      }
    }
  }

  .mgm_accomodations {
    .mgm_content {
      bottom: -160px;

      .mgm_content_details {
        h3 {
          font-size: $h1-font-size;
        }

        h4 {
          font-size: 1.2rem;
          letter-spacing: 1.7px;
        }

        button {
          margin-top: 2rem;
        }
      }
    }
  }

  footer {
    .sponsors {
      max-width: 700px;

      img {
        margin: 0 0.5rem;
      }
    }
  }

  .footer_festival {
    margin-top: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    .hero_video {
      &_content {
        width: 900px;
        margin: 0 auto;
      }
    }
  }

  .tmobile_parking {
    padding: 3rem 12rem;
  }
}

@media screen and (min-width: 1249px) {
  .header_mobile {
    .logo,
    .header_mobile_toggle-img,
    .utility_nav {
      display: none;
    }
  }

  .header_mobile {
    padding: 0;
    margin: 0;
  }

  .sidebar {
    display: block;
  }

  .media_player_mobile {
    display: none;
  }

  .hero {
    .hero_button {
      right: 5rem;
      left: 70%;
    }
  }

  .hero {
    height: 700px;

    .hero_video {
      width: calc(100% - 25%);
      float: right;
      padding: 2rem 3rem;
      bottom: -250px;

      &_content {
        width: 100%;

        .hero_video_header {
          h3 {
            font-size: 2rem;
          }

          h1 {
            font-size: 7rem;
          }
        }
      }
    }
  }

  .intro,
  .dates,
  .news,
  .tmobile_content,
  .tmobile_map,
  .tmobile_parking,
  .mgm_accomodations,
  footer {
    width: calc(100% - 25%);
    float: right;
  }

  .intro {
    margin: 5rem 0 7rem;
    position: relative;

    .intro_content {
      max-width: 900px;
      position: relative;
      height: 340px;

      &_header {
        &.iheart {
          h2 {
            font-size: 1.5rem;
            letter-spacing: 1.5px;
          }
        }

        &.music {
          h2 {
            font-size: 7rem;
            letter-spacing: 2px;
            left: 18px;
            top: 0;
          }
        }

        &.festival {
          h2 {
            font-size: 2.5rem;
            letter-spacing: 17px;
            top: 67px;
            left: 230px;
          }
        }

        &_underline {
          top: 115px;
          width: 775px;
        }

        &.blurb {
          top: 140px;
          right: -230px;
          width: 500px;
          text-align: left;
        }
      }

      .intro_content_header_background {
        background: $secondary-color;
        width: 510px;
        height: 400px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }

    .intro_content_header_background.two {
      background: $secondary-color;
      width: 711px;
      height: 400px;
      position: absolute;
      right: 0;
      top: 48px;
      z-index: -1;
    }
  }

  .dates {
    .dates_content {
      padding: 4.2rem 7rem 9rem;

      h1 {
        left: 25px;
      }
    }

    button {
      top: 475px;
      right: 0;
    }
  }

  .news {
    &_content {
      button {
        font-size: 1rem;
      }
    }
  }

  .hero.festival {
    .hero_img {
      img {
        height: 500px;
        object-fit: cover;
      }

      h1 {
        left: 80%;
      }
    }
  }

  .tmobile {
    .tmobile_map {
      margin-bottom: 0;

      img {
        vertical-align: text-bottom;
      }
    }

    .tmobile_parking {
      background-color: transparent;
      margin: 0 auto;
      padding: 0;
      height: auto;

      .tmobile_parking_img {
        height: 300px;
        width: 300px;
        border-radius: 150px;
        order: 2;
        margin-right: 2rem;

        img {
          width: 50%;
        }

        .tmobile_parking_img_text {
          p {
            font-size: 1rem;
          }
        }

        button {
          display: block;

          @include green-button;

          margin: 1rem auto;
        }
      }

      .tmobile_parking_content {
        max-width: 50vw;
        margin-right: 1rem;

        .parking_content_mobile {
          display: none;
        }

        .parking_content_desktop {
          display: block;
          text-align: left;
          background: $secondary-color;
          padding: 5rem 2rem 7rem;

          .parking_desktop_header {
            font-family: $font-family-headers;
            font-size: $h1-font-size;
            letter-spacing: 1px;
          }

          .reserved {
            font-family: $font-family-other;
            font-size: $h3-font-size;
            padding-top: 0.5rem;
          }
        }
      }
    }
  }

  .mgm_accomodations {
    margin-top: 0;

    .mgm_content {
      bottom: -175px;

      h3 {
        font-size: 2.3rem;
      }

      h4 {
        font-size: 1.1rem;
        letter-spacing: 4px;
      }

      button {
        margin-top: 3rem;
        font-size: 1.1rem;
        padding: 1rem 2rem;
      }
    }
  }

  .footer_festival {
    margin-top: 400px;
    padding-bottom: 3rem;
  }
}
