.sidebar {
  background: rgba(255, 255, 255, 0.76);
  position: fixed;
  left: 0;
  z-index: 2;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 20%;

  .logo {
    margin-top: 3rem;
    margin-bottom: 0;

    img {
      width: 140px;
    }
  }

  .main_nav {
    padding-top: 2rem;
    padding-bottom: 2rem;

    ul {
      li {
        a {
          font-family: $font-family-other;
        }

        a:hover {
          color: $link-color;
          text-shadow: 2.5px 0 rgba(69, 178, 163, 0.5);
        }

        a:active {
          color: $link-color;
          text-decoration: line-through;
        }
      }

      .active_page {
        a {
          color: $link-color;
          text-decoration: line-through;
        }
      }
    }
  }

  .nav_divider {
    border-bottom: 1px solid #000;
    width: 40%;
    margin: 0 auto;
  }

  .media_player {
    padding-top: 2rem;
    padding-bottom: 2rem;

    p {
      font-family: 'aileronbold';
      font-size: 1rem;
      text-transform: capitalize;
    }

    .song_title {
      font-size: $h4-font-size;
      font-family: $font-family;
    }

    .media_player_buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 15px;

        i {
          font-size: 27px;
        }

        .fa-play {
          margin-left: 10px;
        }
      }
    }
  }

  .mgm_promo {
    padding: 0 2rem;

    p {
      line-height: 1.2;
      text-transform: capitalize;
    }

    button {
      @include green-button;

      margin: 1rem 0;

      a {
        font-size: $h4-font-size;
        letter-spacing: 1px;
        color: white;
      }
    }

    button:hover {
      background-color: transparent;
      border: 2px solid $link-color;
      color: $link-color;
    }
  }
}
